@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>PXL</h1>
    <h2>Welkom op de PXL fondsen pagina.</h2>
    <h3>Enkel een beheerder kan bank informatie en fondsen toevoegen.</h3>
    <h4>Een geregistreerde gebruiker kan een fonds aan zijn portefeuille toevoegen.</h4>
</div>